html{
     height: 100%;
     margin:0;
     padding:0;  
}
body{
     position: relative;
     min-height: 100%;
     background-color: #e0e0e0;
     margin:0;
     padding:0; 
}

header{
     background-color: rosybrown;
}

footer{
     background-color: rosybrown;
}

#logoImg{
     height: 60px;
     width: 60px;;
}

.socialImg{
     height: 20px;
     width: 22px;
}
