html{
     height: 100%;
     margin:0;
     padding:0;  
     font-family: 'Ubuntu', sans-serif;
     
}
body{
     height: 100%;
     background-color: #e0e0e0;
     margin:0;
     padding:0; 
     
}


header{
     background-color: rosybrown;
     height:80px;
     left:0;
     position:fixed;
     width:100%; 
     top:0;   
     z-index: 1;
}

.innerHeader{
     margin:10px;
     margin-left: 1%;
     margin-right: 2%;
     display: flex;
     justify-content: space-between;
     align-items: center;
     
}

.content{
     margin:0 auto; 
     overflow:auto;
     padding:80px 0;
     text-align: center;
}

footer{  
     position:fixed;
     background-color: rosybrown;
     bottom:0; 
     height:70px; 
     left:0; 
     width:100%;  
     text-align: center;
     z-index: 1;
}

.innerFooter{   
     margin:20px;
     margin-left: 3%;
     margin-right: 1%;
     display: flex;
     justify-content: space-between;
     align-items: center;
}



#logoImg{
     height: 60px;
     width: 60px;;
}

#loginButton{
     margin-right: 10px;
     text-decoration: none;
     color: black;
}

#copyRight{
     font-size: 10px;
}

#contactButton{
     text-decoration: none;
     color: black;
}
#socialButton{
     margin-right: 10px;
}

.socialImg{
     height: 20px;
     width: 22px;
}


/* cyrillic-ext */
@font-face {
     font-family: 'Ubuntu';
     font-style: normal;
     font-weight: 400;
     font-display: swap;
     src: url(https://fonts.gstatic.com/s/ubuntu/v15/4iCs6KVjbNBYlgoKcg72j00.woff2) format('woff2');
     unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
   }
   /* cyrillic */
   @font-face {
     font-family: 'Ubuntu';
     font-style: normal;
     font-weight: 400;
     font-display: swap;
     src: url(https://fonts.gstatic.com/s/ubuntu/v15/4iCs6KVjbNBYlgoKew72j00.woff2) format('woff2');
     unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
   }
   /* greek-ext */
   @font-face {
     font-family: 'Ubuntu';
     font-style: normal;
     font-weight: 400;
     font-display: swap;
     src: url(https://fonts.gstatic.com/s/ubuntu/v15/4iCs6KVjbNBYlgoKcw72j00.woff2) format('woff2');
     unicode-range: U+1F00-1FFF;
   }
   /* greek */
   @font-face {
     font-family: 'Ubuntu';
     font-style: normal;
     font-weight: 400;
     font-display: swap;
     src: url(https://fonts.gstatic.com/s/ubuntu/v15/4iCs6KVjbNBYlgoKfA72j00.woff2) format('woff2');
     unicode-range: U+0370-03FF;
   }
   /* latin-ext */
   @font-face {
     font-family: 'Ubuntu';
     font-style: normal;
     font-weight: 400;
     font-display: swap;
     src: url(https://fonts.gstatic.com/s/ubuntu/v15/4iCs6KVjbNBYlgoKcQ72j00.woff2) format('woff2');
     unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
   }
   /* latin */
   @font-face {
     font-family: 'Ubuntu';
     font-style: normal;
     font-weight: 400;
     font-display: swap;
     src: url(https://fonts.gstatic.com/s/ubuntu/v15/4iCs6KVjbNBYlgoKfw72.woff2) format('woff2');
     unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
   }