html{
     height: 100%;
     
}
body{
     min-height: 100%;
     width: 100%;
}

#logoimg{
     height: 60px;
     width: 60px;;
}

.cityImg{
     height: 150px;
     width: 150px;
}

.socialImg{
     height: 20px;
     width: 22px;
}