body{
     font-family: 'Ubuntu', sans-serif;
}

.content{
     margin:0 auto; 
     overflow:auto;
     padding:80px 0;
     text-align: center;
}

.cityImg{
     height: 150px;
     width: 150px;
     border-radius: 25%;
}

.srchbg{
     position: relative;
     height: 430px;     
     background-image: url("https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg");
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     z-index: -1;
}

#search{
     position:absolute;
     font-size: 16px;
     transform: translate(-50%, -50%);
     top: 50%;
     left: 51%;
     width: 28%;
     border: 1px solid transparent;
     background-color: #f1f1f1;
     padding: 10px;
     border-radius: 12px;
     text-align: start;
}

.cities{
     display: flex;
     margin-left: 15%;
     margin-right: 15%;
     padding: 4%;
     justify-content: space-evenly;
}

#viewButton{
     text-decoration: none;
}