body{
     font-family: 'Ubuntu', sans-serif;
}

.content{
     padding-bottom: 100px;
}


.srchbg{
     position: relative;
     height: 430px;     
     background-image: url("https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg");
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
}

#search{
     position:absolute;
     font-size: 16px;
     transform: translate(-50%, -50%);
     top: 50%;
     left: 51%;
     width: 28%;
     border: 1px solid transparent;
     background-color: #f1f1f1;
     padding: 10px;
     border-radius: 12px;
     text-align: start;
     outline: none;
}

.cities{
     display: flex;
     padding: 4%;
     justify-content: space-evenly;
}

.cityDiv{
     position: relative; 
     height: 150px;
     width: 150px;
      
}

.cityImg{
     height: 150px;
     width: 150px;
     border-radius: 25%;
     box-shadow:10px 10px grey;  
}


.cityName {
     position: absolute;  
     top:50%;
     left:50%;
     transform: translate(-50%, -50%);
}

.cityDiv:hover .cityImg {
     background-color: rgba(0, 0, 0, 0.5);
     opacity: 0.5;
}
   
.cityDiv:hover .cityName {
     opacity: 1;
}
   
.cityName {   
     color: #f1f1f1;
     font-size: 16px;
     opacity:0;    
}
   

#viewButton{
     text-decoration: none;
}