li {
     float: left;
     list-style-type: none; 
     font-weight: bolder;
     font-size: 16px;
     color: black;
}

a{
     text-decoration: none;
}

p, h3{
     color: black;
}

header{
     z-index: 3;
}

.content{
     text-align: left;
     
}


.lists{
     position: relative;
     padding-bottom: 2%;
}

#li1{
     position:absolute;
     left:43%;
     z-index: 1;   
     overflow: hidden;   
}

#li2{
     position:absolute;
     left:51%;
     z-index: 1;
     overflow: hidden;
}



.grid-container {
     display:grid;
     grid-column-gap: 8%;
     grid-row-gap: 12%;
     grid-template-columns: 40% 40%;
     margin-bottom: 10%;
}

.listDetails{
     position:absolute;
     top: 0%;
     left: 270px;
}

.listItem{
     position: relative;
     width: 100%;
     margin-left: 12%;
     background-color:lightgrey;
}

.list_img{
     height: 200px;
     width: 250px;   
}

#list_div{
     text-decoration: black;
}

#map_div{
     display: none;
}